<h2>Audit Logs</h2>
<table>
  <thead>
    <tr>

      <th>User Email</th>
      <th>Role</th>
      <th>Action</th>
      <th>Status</th>
      <th>Message</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td>{{(log.action && log.action.toUpperCase().includes('LOGIN') && log.status?.toUpperCase() === 'FAILURE')? '—': log.user_email}}</td>
      <td>{{ log.role }}</td>
      <td>{{ log.action }}</td>
      <td>{{ log.status }}</td>
      <td>{{ log.message }}</td>
      <td>{{ log.created_at }}</td>
    </tr>
  </tbody>
</table>