<header>
  <h1>UWEC Student Information System</h1>
  <nav>
    <a *ngIf="roleService.getRole() != 'FACULTY' && roleService.getRole() != 'STUDENT'" routerLink="/student-login" routerLinkActive="active">Student Login</a>
    <a *ngIf="roleService.getRole() != 'FACULTY' && roleService.getRole() != 'STUDENT'" routerLink="/faculty-login" routerLinkActive="active">Faculty Login</a>
    <a *ngIf="roleService.getRole() == 'FACULTY' || roleService.getRole() == 'STUDENT'" routerLink="/student-list" routerLinkActive="active">Student List</a>
    <a *ngIf="roleService.getRole() == 'FACULTY'" routerLink="/add-student" routerLinkActive="active">Add Student</a>
    <a *ngIf="roleService.getRole() == 'FACULTY' || roleService.getRole() == 'STUDENT'" routerLink="/logs" routerLinkActive="active">Logs</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  © 2025 University of Wisconsin–Eau Claire
</footer>