<main>
  <div class="main-card" *ngIf="role === 'STUDENT'">
    <h2>My Student Information</h2>

    <!-- VIEW MODE -->
    <div *ngIf="!isEditing">
      <p><strong>First Name:</strong> {{ student.firstName }}</p>
      <p><strong>Last Name:</strong> {{ student.lastName }}</p>
      <p><strong>Email:</strong> {{ student.email }}</p>
      <p><strong>Address:</strong> {{ student.address }}</p>
      <p><strong>Phone:</strong> {{ student.phone }}</p>
      <p><strong>GPA:</strong> {{ student.gpa }}</p>
      <p><strong>Credits:</strong> {{ student.credits }}</p>
      <p><strong>Balance:</strong> ${{ student.balance }}</p>

      <div class="button-group">
        <button class="btn" (click)="toggleEdit()">Edit Info</button>
        <button type="button" class="btn btn-secondary" (click)="onLogout()">Log Out</button>
      </div>
    </div>

    <!-- EDIT MODE -->
    <form *ngIf="isEditing" (ngSubmit)="onSave()" #studentForm="ngForm">
      <div class="form-section">
        <p><strong>First Name:</strong> {{ student.firstName }}</p>
        <p><strong>Last Name:</strong> {{ student.lastName }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>

        <label style="margin-top: 10px;" for="address">Address</label>
        <input
          type="text"
          id="address"
          name="address"
          [(ngModel)]="student.address"
        />

        <label for="phone">Phone Number</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          [(ngModel)]="student.phone"
        />
      </div>

      <div class="button-group">
        <button type="submit" class="btn">Save Changes</button>
        <button type="button" class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
      </div>
    </form>
  </div>

  <!-- FACULTY VIEW -->
  <div class="main-card" style="max-width: fit-content; min-width: 500px;" *ngIf="role === 'FACULTY'">
    <ng-container *ngIf="!isEditing" >
    <h2>All Students</h2>
    <h3>Click on a row to edit the student</h3>
    <table>
      <thead>
        <tr style="cursor: default;">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>GPA</th>
          <th>Credits</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of studentList" (click)="selectStudent(s)">
          <td>{{ s.firstName }}</td>
          <td>{{ s.lastName }}</td>
          <td>{{ s.email }}</td>
          <td>{{ s.gpa }}</td>
          <td>{{ s.credits }}</td>
          <td>${{ s.balance }}</td>
        </tr>
      </tbody>
    </table>

    <div class="button-group">
      <button type="button" class="btn btn-secondary" (click)="onLogout()">Log Out</button>
    </div>
  
   </ng-container>
   <!-- EDIT MODE -->
    <form *ngIf="isEditing" (ngSubmit)="onSave()" #studentForm="ngForm">
      <div class="form-section">
        <p><strong>Name:</strong> {{ student.firstName }} {{ student.lastName }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
        <p><strong>Address:</strong> {{ student.address }}</p>
        <p><strong>Phone:</strong> {{ student.phone }}</p>

        <label for="gpa">GPA</label>
        <input
          type="number"
          id="gpa"
          name="gpa"
          [(ngModel)]="student.gpa"
          step="0.01"
        />

        <label for="credits">Credits</label>
        <input
          type="number"
          id="credits"
          name="credits"
          [(ngModel)]="student.credits"
        />

        <label for="balance">Balance</label>
        <input
          type="number"
          id="balance"
          name="balance"
          [readonly]="true"
          [(ngModel)]="student.balance"
          step="0.01"
        />
      </div>

      <div class="button-group">
        <button type="submit" class="btn">Save Changes</button>
        <button type="button" class="btn" (click)="chargeTuition()">Charge Tuition</button>
        <button type="button" class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
      </div>
    </form>
    </div>
</main>
